:root {
  --fit-auto: auto;
  --fit-content: fit-content;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}
