:root {
  --fit-auto: auto;
  --fit-content: fit-content;
  --fit-quarter: 25%;
  --fit-third: 33.333%;
  --fit-half: 50%;
  --fit-fill: 100%;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}
