/* Base */
.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-block-start: env(safe-area-inset-top, 0);
  padding-block-end: env(safe-area-inset-bottom, 0);
  padding-inline-start: env(safe-area-inset-left, 0);
  padding-inline-end: env(safe-area-inset-right, 0);
}
